body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  font-family: "Poppins", sans-serif;
}

canvas {
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
  background: url('images/background.png') no-repeat center/cover; /* unique background */
}
